<!DOCTYPE html>
<html lang="en">
	<%-include('./component/head')%>
		<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
			<div class="wrapper" id="app">
				<!--entete-->
				<%-include('./component/header')%>
					<!-- entete -->
					<!-- Left side column. contains the logo and sidebar -->
					<!--menu de navigation-->
					<%-include('./component/menu')%>
						<!-- Content Wrapper.
     Contains page content -->
						<div class="content-wrapper">
							<div class="col-12">
								<div class="box">
									<div class="box-header d-flex justify-content-between">
										<h4 class="box-title">Filiales</h4>
										<button type="button" class="waves-effect waves-light btn btn-primary
											mb-5 btn-md"
											data-toggle="modal" data-target="#modal-center" @click="close">Nouveau</button>
									</div>
									<div class="box-body">
										<alert-component
											v-bind:alert="alert">
										</alert-component>
										<div class="table-responsive">
											<table id="example1" class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>Actions</th>
														<th>N°</th>
														<th>Nom</th>
														<th>Description</th>
														<th>Organisme</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="(app, index) in apparts" :key="index">
														<td>
															<button type="button" class="waves-effect waves-light btn
																btn-success mb-5 btn-md"
																@click="editItem(app)" data-toggle="modal"
																data-target="#modal-center">
																<i class="fa fa-edit"></i></button>
															<button type="button" class="waves-effect waves-light btn
																btn-danger mb-5 btn-md"
																@click="editItem(app)" data-toggle="modal"
																data-target="#modal-danger">
																<i class="fa fa-trash"></i></button>
															<button type="button" class="waves-effect waves-light btn
																btn-default mb-5 btn-md"
																data-toggle="modal" data-target="#modal-lien"
																@click="listeLienApparts(app.apparts.id)">
																<i class="mdi mdi-family-tree"></i>
															</button>
															<button type="button" class="waves-effect waves-light btn
																btn-default mb-5 btn-md"
																data-toggle="modal" data-target="#modal-fill"
																@click="allApart_hab(app.apparts.id)">
																<i class="fa fa-eye"></i>
															</button>
														</td>
														<td>{{ index+1 }}</td>
														<td>{{ app.apparts.nom }}</td>
														<td>{{ app.apparts.description }}</td>
														<td>{{ app.organisme_id.libelle }}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal -->
							<div class="modal center-modal fade" id="modal-center" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Filiale</h5>
											<button type="button" class="close" data-dismiss="modal"
												@click="close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="form-group row">
												<label class="col-form-label col-md-2">Organisme</label>
												<div class="col-md-10">
													<select id="organisme" class="form-control" type="datetime"
														v-model="editedItem.organisme">
														<option value="">Selectionnez</option>
														<option
															v-for="org in organismes"
															:value="org.id">{{ org.libelle }}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-2">Nom</label>
												<div class="col-md-10">
													<input class="form-control" type="datetime" name="datetime"
														v-model="editedItem.nom">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-2">Description</label>
												<div class="col-md-10">
													<textarea id="" cols="30" type="datetime" rows="2"
														class="form-control"
														v-model="editedItem.description"></textarea>
												</div>
											</div>
										</div>
										<div class="modal-footer modal-footer-uniform">
											<button type="button" class="btn btn-md btn-secondary"
												data-dismiss="modal" @click="close">Quitter</button>
											<button v-if="editedIndex>-1" type="button" class="btn btn-success
												float-right"
												data-dismiss="modal" @click="save">modifier</button>
											<button v-else type="button" class="btn btn-success float-right"
												data-dismiss="modal" @click="save">Enrégistrer</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Suppression -->
							<div class="modal modal-danger" id="modal-danger">
								<div class="modal-dialog" style="width: 450px;">
									<div class="modal-content bg-danger" style="width: 450px;">
										<div class="modal-header" style="width: 450px;">
											<h4 class="modal-title">suppression !</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span></button>
										</div>
										<div class="modal-body bg-default">
											<h4>voulez vous supprimmer {{editedItem.nom}}</h4>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-md btn-danger"
												data-dismiss="modal">Non</button>
											<button type="button" class="btn btn-md btn-primary float-right"
												data-dismiss="modal"
												@click="deleteAppart">Oui</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- Suppression -->

							<div class="modal fade" data-backdrop="false" id="modal-fill"
								tabindex="-1">
								<div class="modal-dialog d-flex justify-content-center">
									<div class="modal-content" style="width: 800px; height: 600px;">
										<div class="modal-header" style="width: 800px;">
											<h5 class="modal-title">Droit</h5>
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body justify-content-center">
											<div class="row">
												<div class="col-12 col-md-5">
													<legend>Habilitations</legend>
													<div class="nav flex-column nav-pills" id="v-pills-tab"
														role="tablist" aria-orientation="vertical">
														<a
															v-for="t in types"
															class="nav-link" :id="t.id" data-toggle="pill" :href="`#${t.id}`"
															role="tab" :aria-controls="t.id" aria-selected="true"
															@click="getHabilitationItem(t.id)">{{ t.nom }}</a>

													</div>
												</div>
												<div class="col-12 col-md-7">
													<div class="tab-content" id="v-pills-tabContent">
														<div class="tab-pane fade show active" id="v-pills-home"
															role="tabpanel" aria-labelledby="v-pills-home-tab">
															<div class="alert alert-info" role="alert"
																v-if="alertRole">
																Aucun rôle n'est défini pour cette habilitation
															</div>
															<fieldset v-if="habilitationItems.length> 0">
																<legend>Rôles</legend>
																<div v-for="hb in habilitationItems">
																	<input type="checkbox" @click="select(hb.id)" :id="hb.nom"
																		:name="hb.nom" :value="hb.id"
																		:checked="tabHab.includes(hb.id) ? true:false">
																	<label :for="hb.nom">{{hb.nom}}</label>
																</div>
															</fieldset>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer" style="width: 800px;">
											<button type="button" class="btn btn-md btn-secondary"
												data-dismiss="modal">Quitter</button>
											<button type="button" class="btn btn-primary float-right btn-large"
												@click="ajouter">Enrégistrer</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /.modal -->
						</div>
						<aside class="control-sidebar">
							<div class="rpanel-title">
								<span class="pull-right btn btn-circle p-10">
									<img src="/images/svg-icon/close.svg" data-toggle="control-sidebar"
										class="img-fluid svg-icon" alt="">
								</span>
							</div> <!-- Create the tabs -->
							<ul class="nav nav-tabs control-sidebar-tabs">
								<li class="nav-item"><a href="#control-sidebar-home-tab"
										data-toggle="tab"><img src="/images/svg-icon/apps.svg"
											class="img-fluid svg-icon" alt=""></a></li>
								<li class="nav-item"><a href="#control-sidebar-settings-tab"
										data-toggle="tab"><img src="/images/svg-icon/advanced.svg"
											class="img-fluid svg-icon" alt=""></a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<!-- Home tab content -->
								<div class="tab-pane" id="control-sidebar-home-tab">
									<div class="flexbox">
										<a href="javascript:void(0)" class="text-grey">
											<i class="ti-more"></i>
										</a>
										<p>Users</p>
										<a href="javascript:void(0)" class="text-right text-grey"><i
												class="ti-plus"></i></a>
									</div>
									<div class="lookup lookup-sm lookup-right d-none d-lg-block">
										<input type="text" name="s" placeholder="Search" class="w-p100">
									</div>
									<div class="media-list media-list-hover mt-20">
										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-success" href="#">
												<img src="/images/avatar/1.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Tyler</strong></a>
												</p>
												<p>Praesent tristique diam...</p>
												<span>Just now</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-danger" href="#">
												<img src="/images/avatar/2.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Luke</strong></a>
												</p>
												<p>Cras tempor diam ...</p>
												<span>33 min ago</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-warning" href="#">
												<img src="/images/avatar/3.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Evan</strong></a>
												</p>
												<p>In posuere tortor vel...</p>
												<span>42 min ago</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-primary" href="#">
												<img src="/images/avatar/4.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Evan</strong></a>
												</p>
												<p>In posuere tortor vel...</p>
												<span>42 min ago</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-success" href="#">
												<img src="/images/avatar/1.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Tyler</strong></a>
												</p>
												<p>Praesent tristique diam...</p>
												<span>Just now</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-danger" href="#">
												<img src="/images/avatar/2.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Luke</strong></a>
												</p>
												<p>Cras tempor diam ...</p>
												<span>33 min ago</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-warning" href="#">
												<img src="/images/avatar/3.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Evan</strong></a>
												</p>
												<p>In posuere tortor vel...</p>
												<span>42 min ago</span>
											</div>
										</div>

										<div class="media py-10 px-0">
											<a class="avatar avatar-lg status-primary" href="#">
												<img src="/images/avatar/4.jpg" alt="...">
											</a>
											<div class="media-body">
												<p class="font-size-16">
													<a class="hover-primary" href="#"><strong>Evan</strong></a>
												</p>
												<p>In posuere tortor vel...</p>
												<span>42 min ago</span>
											</div>
										</div>

									</div>

								</div>
								<!-- /.tab-pane -->
								<!-- Settings tab content -->
								<div class="tab-pane" id="control-sidebar-settings-tab">
									<div class="flexbox">
										<a href="javascript:void(0)" class="text-grey">
											<i class="ti-more"></i>
										</a>
										<p>Todo List</p>
										<a href="javascript:void(0)" class="text-right text-grey"><i
												class="ti-plus"></i></a>
									</div>
									<ul class="todo-list mt-20">
										<li class="py-15 px-5 by-1">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_1" class="filled-in">
											<label for="basic_checkbox_1" class="mb-0 h-15"></label>
											<!-- todo text -->
											<span class="text-line">Nulla vitae purus</span>
											<!-- Emphasis label -->
											<small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
											<!-- General tools such as edit or delete-->
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_2" class="filled-in">
											<label for="basic_checkbox_2" class="mb-0 h-15"></label>
											<span class="text-line">Phasellus interdum</span>
											<small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5 by-1">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_3" class="filled-in">
											<label for="basic_checkbox_3" class="mb-0 h-15"></label>
											<span class="text-line">Quisque sodales</span>
											<small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_4" class="filled-in">
											<label for="basic_checkbox_4" class="mb-0 h-15"></label>
											<span class="text-line">Proin nec mi porta</span>
											<small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5 by-1">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_5" class="filled-in">
											<label for="basic_checkbox_5" class="mb-0 h-15"></label>
											<span class="text-line">Maecenas scelerisque</span>
											<small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_6" class="filled-in">
											<label for="basic_checkbox_6" class="mb-0 h-15"></label>
											<span class="text-line">Vivamus nec orci</span>
											<small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5 by-1">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_7" class="filled-in">
											<label for="basic_checkbox_7" class="mb-0 h-15"></label>
											<!-- todo text -->
											<span class="text-line">Nulla vitae purus</span>
											<!-- Emphasis label -->
											<small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
											<!-- General tools such as edit or delete-->
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_8" class="filled-in">
											<label for="basic_checkbox_8" class="mb-0 h-15"></label>
											<span class="text-line">Phasellus interdum</span>
											<small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5 by-1">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_9" class="filled-in">
											<label for="basic_checkbox_9" class="mb-0 h-15"></label>
											<span class="text-line">Quisque sodales</span>
											<small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
										<li class="py-15 px-5">
											<!-- checkbox -->
											<input type="checkbox" id="basic_checkbox_10" class="filled-in">
											<label for="basic_checkbox_10" class="mb-0 h-15"></label>
											<span class="text-line">Proin nec mi porta</span>
											<small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
											<div class="tools">
												<i class="fa fa-edit"></i>
												<i class="fa fa-trash-o"></i>
											</div>
										</li>
									</ul>
								</div>
								<!-- /.tab-pane -->
							</div>
						</aside>
						<!-- /.control-sidebar -->
						<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
						<div class="control-sidebar-bg"></div>
						<!-- modal ajout lien -->
						<div class="modal center-modal fade" id="modal-lien" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Lien d'association</h5>
										<button type="button" class="close" data-dismiss="modal"
											@click="close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-12 col-md-6"
												v-for="(a, i) in lienApparts" :key="i">
												<input type="checkbox" :id="`${a.appart.nom}-${i}`"
													:name="`${a.appart.nom}-${i}`" :value="a.appart.id">
												<label :for="`${a.appart.nom}-${i}`"
													@click="selectLink(a.appart.id)">
													{{a.appart.nom}} - {{ a.organisme.libelle }}
												</label>
											</div>
										</div>
										<div class="modal-footer modal-footer-uniform">
											<button type="button" class="btn btn-md btn-danger"
												data-dismiss="modal" @click="close">Quitter</button>
											<button type="button" class="btn btn-md btn-success"
												data-dismiss="modal" @click="ajoutLien">Valider</button>
										</div>
									</div>
								</div>
							</div>
							<!-- fin modal ajout -->
						</div>
					</div>
					<!-- ./wrapper -->

					<!-- Vendor JS -->
					<%-include('./component/script')%>
						<script>
		const app = new Vue({
			el: "#app",
			data() {
				return {
					alert:null,
					editedIndex: null,
					editedItem: {
						nom: '',
						description: '',
						organisme: null,
					},
					defaultItem: {
						nom: '',
						description: '',
						organisme: null,
					},
					organismes: [],
					apparts: [],
                    habilitations: [],
					habilitation_appart:[],
                    tabHab:[],
                    id:"",
					types: [],
					habilitationItems: [],
					defaultType: null,
					alertRole: false,
					// attributs liens
					lienApparts: [],
					selectedLinks: [],
					currentAppart: null,
				}
			},
			methods: {
                ajouter(){
                    const ob={
                        id_habilitation:this.tabHab,
                        id_apparts:this.id
                    }
                    new ApiService().add('/habilitationappart/crud/',ob)
					.then((res) => {
					}).catch((err) => {
						console.log(err)
					})  
                },
                select(id){
                    if(!this.tabHab.includes(id)){
                        this.tabHab.push(id);
						return
                    }
                    const index=tabHab.findIndex(el=>el==id)
                    tabHab.splice(index, 1);
                },
                async allApart_hab(id){
                   await  new ApiService().findOne('/habilitationappart/crud/',id)
					.then((res) => {
                        const t=[]
						this.habilitation_appart = res.data
                        console.log("jjjjj",res.data);
                        this.habilitation_appart.map(el=>{
                            t.push(el.id)
                        })
                        this.tabHab=t
					}).catch((err) => {
						console.log(err)
					})
                    this.id=id
                },
                allHabilitation(){
                    new ApiService().findAll('/habilitation/crud/')
					.then((res) => {
						this.habilitations = res.data
					}).catch((err) => {
						console.log(err)
					})
                },
				async inisializeApparts() {
					await new ApiService().findAll('/apparts/crud/')
					.then((res) => {
						this.apparts = res.data.reverse();
					}).catch((err) => {
						console.log(err)
					})
				},
				allOrganismes() {
					new ApiService().findAll('/organisme/crud/')
					.then((res) => {
						this.organismes = res.data
					}).catch((err) => {
						console.log(err)
					})
				},
				close () {
					this.$nextTick(() => {
					this.editedItem = Object.assign({}, this.defaultItem)
					this.editedIndex = -1
					})
      				},
				editItem (item) {
						console.log("lancer");
						this.editedIndex = this.apparts.indexOf(item)
						this.editedItem = Object.assign({}, item.apparts)
						console.log(this.editedItem);
					},
				async updateAppart(){
					if(new Alert().validateRequestData(this.editedItem)) {
					await	new ApiService().update('/apparts/crud/', this.editedItem,this.editedItem.id)
						.then((res) => {
						this.inisializeApparts()
						this.alert = new Alert().flash(
							'success',
								true,
								'modification effectuée !'
						)
						}).catch((err) => {
							this.alert = new Alert().flash(
								'danger',
								true,
								"Erreur de modification !"
							)
						console.log(err)
						});
					}else{
						this.alert = new Alert().flash('error', true, 'Tous les champs sont obligatoires')
					}
						
				},
				async deleteAppart(){
						await new ApiService().delete('/apparts/crud/',this.editedItem.id)
						.then(res=>{
							console.log(res);
							this.inisializeApparts().then(()=>{
								this.alert = new Alert().flash(
								'success',
								true,
								'Suppression effectuée !'
							)
							})	
						}).catch(err=>{
							this.alert = new Alert().flash(
								'danger',
								true,
								"erreur de  suppression !"
							)
						})	
				},
				addAppart(){
					if(new Alert().validateRequestData(this.editedItem)) {
						new ApiService().add('/apparts/crud/', this.editedItem)
						.then((res) => {
						this.inisializeApparts()
						this.alert = new Alert().flash(
								'success',
								true,
								'Ajout effectué avec succès!'
						)
						}).catch((err) => {
							this.alert = new Alert().flash(
								'danger',
								true,
								"Erreur d'ajout !"
							)
						console.log(err)
						});
					}else{
						this.alert = new Alert().flash('error', true, 'Tous les champs sont obligatoires')
					}
						
					},
				save() {
					if(this.editedIndex>-1){
							this.updateAppart()
						}else{
							this.addAppart()
						}
						this.close()
				},
				getAllTypes() {
					new ApiService().findAll('/typehabilitation/crud/')
					.then((res) => {
						this.types = res.data
						this.defaultType = this.types[0]
					}).catch((err) => {
						console.log(err)
					});
				},
				getHabilitationItem(id) {
					new ApiService().findOne('/habilitation/gethabilitation/', id)
					.then((res) => {
						this.habilitationItems = res.data.habilitation
						if(this.habilitationItems.length == 0) {
							this.alertRole = true
						}else {
							this.alertRole = false
						}
					}).catch((err) => {
						console.log(err)
					})
				},
				// gestion des liens
				listeLienApparts(id) {
					this.currentAppart = id
					CourrielService.lienApparts(id)
					.then((res) => {
						this.lienApparts = []
						this.lienApparts = res.data
						this.inisializeApparts()
					}).catch((err) => {
						console.log(err)
					});
				},
				selectLink(link) {
					if(this.selectedLinks.includes(link)) {
						let index = this.selectedLinks.findIndex(el => el == link)
						this.selectedLinks.splice(index, 1)
					}else {
						this.selectedLinks.push(link)
					}
				},
				ajoutLien() {
					let data = {
						premier: this.currentAppart,
						amis: this.selectedLinks
					}
					CourrielService.ajouterLien(data)
					.then((res) => {
						console.log(res)
						this.alert = new Alert().flash(
								'success',
								true,
								'Lien ajouté avec succès !'
						)
					}).catch((err) => {
						console.log(err)
					});
				},
			},
			created() {
                if(JSON.parse(localStorage.getItem('token'))==null){
					//window.location="/"
				}
				this.inisializeApparts()
				this.allOrganismes()
				
                this.allHabilitation()
				this.getAllTypes()
			},
		})
	</script>
					</body>
				</html>
