<!DOCTYPE html>
<html lang="en">
	<%-include('./component/head')%>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	<%-include('./component/header')%>
  
  <!-- Left side column. contains the logo and sidebar -->
 	<!--menu de navigation-->
	 <%-include('./component/menu')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-8 col-12">
					<div class="box">
						<div class="box-body bb-1 d-lg-block d-none">
							<div class="d-flex justify-content-between align-items-center">
								<h3 class="my-0"><span class="text-primary">ETH</span> / <span class="text-info">BTC</span></h3>
								<div>								
									<h5 class="mb-0"><span class="mr-5">Last:</span></h5><h5 class="text-primary mb-0">0.03242000</h5>
								</div>
								<div>
									<h5 class="mb-0"><span class="mr-5">24High:</span></h5><h5 class="text-success mb-0">0.03301357</h5>
								</div>
								<div>
									<h5 class="mb-0"><span class="mr-5">24Low:</span></h5><h5 class="text-danger mb-0">0.03089614</h5>
								</div>
								<div>
									<h5 class="mb-0"><span class="mr-5">24V:</span></h5><h5 class="text-info mb-0">1001.66 BTC</h5>
								</div>
							</div>
						</div>
						<div class="box-body">
						    <div id="bitcoin-stock" class="mb-15"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-12">							
							<div class="box">
								<div class="box-header">
									<h4 class="box-title">
										ATC Live Statistics
									</h4>
								</div>
								<div class="box-body">
									<div id="timeseries-chart"></div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-12">
							<div class="box">
								<div class="box-header with-border">
								  <h4 class="box-title">Live Trafic</h4>
								  <ul class="box-controls pull-right">
									  <li><a class="box-btn-close" href="#"></a></li>
									  <li><a class="box-btn-slide" href="#"></a></li>	
									  <li><a class="box-btn-fullscreen" href="#"></a></li>
									</ul>
								</div>
								<!-- /.box-header -->
								<div class="box-body px-0">
									<div class="chart">
										<div id="chartdiv31" class="h-300"></div>
									</div>

								</div>
								<!-- /.box-body -->
							  </div>
						</div>
					</div>
					
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">
								Earning
							</h4>
						</div>
						<div class="box-body">
						    <div class="table-responsive">
								<table class="table table-borderless mb-0">
									<thead>
										<tr>
											<th>No</th>
											<th>Currency</th>
											<th>Plateform</th>
											<th>Email</th>
											<th>ID</th>
											<th>Amount</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td><i class="cc BTC font-size-18"></i></td>
											<td>dummy.com</td>
											<td>johendoe@gmail.com</td>
											<td>BCC98F59</td>
											<td>$845.69</td>
											<td><span class="badge badge-danger">Pending</span></td>
										</tr>
										<tr>
											<td>2</td>
											<td><i class="cc ETH font-size-18"></i></td>
											<td>stock.com</td>
											<td>mical@gmail.com</td>
											<td>CITN456546</td>
											<td>$854.65</td>
											<td><span class="badge badge-success">Success</span></td>
										</tr>
										<tr>
											<td>3</td>
											<td><i class="cc RDD font-size-18"></i></td>
											<td>market.com</td>
											<td>viloc@gmail.com</td>
											<td>MGT584@F</td>
											<td>$658.25</td>
											<td><span class="badge badge-danger">Pending</span></td>
										</tr>
										<tr>
											<td>4</td>
											<td><i class="cc BCH font-size-18"></i></td>
											<td>profit.com</td>
											<td>ronald@gmail.com</td>
											<td>BCD94F769</td>
											<td>$845.55</td>
											<td><span class="badge badge-success">Success</span></td>
										</tr>
										<tr>
											<td>5</td>
											<td><i class="cc BTC font-size-18"></i></td>
											<td>dummy.com</td>
											<td>johen@gmail.com</td>
											<td>BCC98F59</td>
											<td>$845.69</td>
											<td><span class="badge badge-danger">Pending</span></td>
										</tr>
										<tr>
											<td>6</td>
											<td><i class="cc ETC font-size-18"></i></td>
											<td>script.uk</td>
											<td>milik@gmail.com</td>
											<td>MTB005TC</td>
											<td>$875.38</td>
											<td><span class="badge badge-success">Success</span></td>
										</tr>
										<tr>
											<td>7</td>
											<td><i class="cc LTC font-size-18"></i></td>
											<td>johen.com</td>
											<td>nothte@gmail.com</td>
											<td>BCC98F59</td>
											<td>$845.69</td>
											<td><span class="badge badge-danger">Pending</span></td>
										</tr>
										<tr>
											<td>8</td>
											<td><i class="cc ADA font-size-18"></i></td>
											<td>dummy.com</td>
											<td>johendoe@gmail.com</td>
											<td>BCC98F59</td>
											<td>$158.69</td>
											<td><span class="badge badge-success">Success</span></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Buy</h4>
						</div>
						<div class="box-body">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#market" role="tab">Market</a> </li>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#limit" role="tab">Limit</a> </li>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#stop" role="tab">Stop</a> </li>
							</ul>
							<div class="tab-content p-10 tabcontent-border">
								<div class="tab-pane active" id="market" role="tabpanel">
									<form class="dash-form">
										<div class="form-group">
										  <select class="form-control">
											<option>Good-Til-Canceled</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										  </select>
										</div>
										<p>Balance: <span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										<p>Best ask: <span class="font-weight-600">0.000001234 <i class="fa fa-bitcoin"></i></span></p>
										<div class="input-group mb-10">
											<span class="input-group-addon">Amount</span>
											<input type="number" class="form-control" placeholder="0">
										</div>
										<div class="input-group mb-10">
											<span class="input-group-addon">Price</span>
											<input type="number" class="form-control" placeholder="Bitcoin per 1">
										</div>
										<div class="input-group mb-50">
											<span class="input-group-addon">Total</span>
											<input type="text" class="form-control" placeholder="Bitcoin">
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Fee: 0.1% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Rebate: 0.01% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Reserved </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<button type="submit" class="btn btn-block btn-success mt-20">Buy Limit</button>
									</form>
								</div>
								<div class="tab-pane" id="limit" role="tabpanel">
									<form class="dash-form">
										<div class="form-group">
										  <select class="form-control">
											<option>Good-Til-Canceled</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										  </select>
										</div>
										<p>Balance: <span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										<p>Best ask: <span class="font-weight-600">0.000001234 <i class="fa fa-bitcoin"></i></span></p>
										<div class="input-group mb-10">
											<span class="input-group-addon">Amount</span>
											<input type="number" class="form-control" placeholder="0">
										</div>
										<div class="input-group mb-10">
											<span class="input-group-addon">Price</span>
											<input type="number" class="form-control" placeholder="Bitcoin per 1">
										</div>
										<div class="input-group mb-50">
											<span class="input-group-addon">Total</span>
											<input type="text" class="form-control" placeholder="Bitcoin">
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Fee: 0.1% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Rebate: 0.01% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Reserved </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<button type="submit" class="btn btn-block btn-success mt-20">Buy Limit</button>
									</form>
								</div>
								<div class="tab-pane" id="stop" role="tabpanel">
									<form class="dash-form">
										<div class="form-group">
										  <select class="form-control">
											<option>Good-Til-Canceled</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										  </select>
										</div>
										<p>Balance: <span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										<p>Best ask: <span class="font-weight-600">0.000001234 <i class="fa fa-bitcoin"></i></span></p>
										<div class="input-group mb-10">
											<span class="input-group-addon">Amount</span>
											<input type="number" class="form-control" placeholder="0">
										</div>
										<div class="input-group mb-10">
											<span class="input-group-addon">Price</span>
											<input type="number" class="form-control" placeholder="Bitcoin per 1">
										</div>
										<div class="input-group mb-50">
											<span class="input-group-addon">Total</span>
											<input type="text" class="form-control" placeholder="Bitcoin">
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Fee: 0.1% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Rebate: 0.01% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Reserved </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<button type="submit" class="btn btn-block btn-success mt-20">Buy Limit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Sell BCN</h4>
						</div>
						<div class="box-body">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#market-sell" role="tab">Market</a> </li>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#limit-sell" role="tab">Limit</a> </li>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#stop-sell" role="tab">Stop</a> </li>
							</ul>
							<div class="tab-content p-10 tabcontent-border">
								<div class="tab-pane active" id="market-sell" role="tabpanel">
									<form class="dash-form">
										<div class="form-group">
										  <select class="form-control">
											<option>Good-Til-Canceled</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										  </select>
										</div>
										<p>Balance: <span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										<p>Best ask: <span class="font-weight-600">0.000001234 <i class="fa fa-bitcoin"></i></span></p>
										<div class="input-group mb-10">
											<span class="input-group-addon">Amount</span>
											<input type="number" class="form-control" placeholder="0">
										</div>
										<div class="input-group mb-10">
											<span class="input-group-addon">Price</span>
											<input type="number" class="form-control" placeholder="Bitcoin per 1">
										</div>
										<div class="input-group mb-50">
											<span class="input-group-addon">Total</span>
											<input type="text" class="form-control" placeholder="Bitcoin">
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Fee: 0.1% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Rebate: 0.01% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Reserved </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<button type="submit" class="btn btn-block btn-danger mt-20">Sell Limit</button>
									</form>
								</div>
								<div class="tab-pane" id="limit-sell" role="tabpanel">
									<form class="dash-form">
										<div class="form-group">
										  <select class="form-control">
											<option>Good-Til-Canceled</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										  </select>
										</div>
										<p>Balance: <span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										<p>Best ask: <span class="font-weight-600">0.000001234 <i class="fa fa-bitcoin"></i></span></p>
										<div class="input-group mb-10">
											<span class="input-group-addon">Amount</span>
											<input type="number" class="form-control" placeholder="0">
										</div>
										<div class="input-group mb-10">
											<span class="input-group-addon">Price</span>
											<input type="number" class="form-control" placeholder="Bitcoin per 1">
										</div>
										<div class="input-group mb-50">
											<span class="input-group-addon">Total</span>
											<input type="text" class="form-control" placeholder="Bitcoin">
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Fee: 0.1% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Rebate: 0.01% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Reserved </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<button type="submit" class="btn btn-block btn-danger mt-20">Sell Limit</button>
									</form>
								</div>
								<div class="tab-pane" id="stop-sell" role="tabpanel">
									<form class="dash-form">
										<div class="form-group">
										  <select class="form-control">
											<option>Good-Til-Canceled</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										  </select>
										</div>
										<p>Balance: <span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										<p>Best ask: <span class="font-weight-600">0.000001234 <i class="fa fa-bitcoin"></i></span></p>
										<div class="input-group mb-10">
											<span class="input-group-addon">Amount</span>
											<input type="number" class="form-control" placeholder="0">
										</div>
										<div class="input-group mb-10">
											<span class="input-group-addon">Price</span>
											<input type="number" class="form-control" placeholder="Bitcoin per 1">
										</div>
										<div class="input-group mb-50">
											<span class="input-group-addon">Total</span>
											<input type="text" class="form-control" placeholder="Bitcoin">
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Fee: 0.1% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Rebate: 0.01% </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<div class="d-flex justify-content-between">
											<p class="mb-5">Reserved </p>
											<p class="mb-5"><span class="font-weight-600">0 <i class="fa fa-bitcoin"></i></span></p>
										</div>
										<button type="submit" class="btn btn-block btn-danger mt-20">Sell Limit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="box">	
								<div class="box-body text-center">
									<p class="text-primary">BTC BALANCE</p>
									<h3>124.53 <small>BTC</small></h3>
									<div class="d-flex justify-content-center">
										<button type="button" class="btn btn-xs btn-dark mr-10">SEND</button>
										<button type="button" class="btn btn-xs btn-danger">RECEIVE</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="box">	
								<div class="box-body text-center">
									<p class="text-primary">USD BALANCE</p>
									<h3>724.53 <small>USD</small></h3>
									<div class="d-flex justify-content-center">
										<button type="button" class="btn btn-xs btn-primary mr-10">DEPOSIT</button>
										<button type="button" class="btn btn-xs btn-success">WITHDRAW</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box">
						<div class="box-body">
							<div class="row">
								<div class="col-6">
									<div class=" bb-2 border-success">
										<p>Users</p>
										<h2 class="font-weight-700">2,843 </h2>
										<p class="text-fade">New Users</p>
									</div>								
								</div>
								<div class="col-6">
									<div id="meetingschart3" class="chart"></div>							
								</div>
							</div>
							
							<div class="row mt-10">
								<div class="col-6">
									<div class="bb-2 border-info">
										<h2 class="font-weight-700">1,743 </h2>
										<p class="text-fade">Return Visitors</p>
									</div>								
								</div>
								<div class="col-6">
									<div id="meetingschart4" class="chart"></div>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="box">
					  <div class="box-body">
						  <ul id="webticker-1">
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">BCH/BTC</h5>
										<p class="text-danger">-2.24%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$0.04886</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li>
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">REP/USD</h5>
										<p class="text-danger">-2.57%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$20.12</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">EOS/USD</h5>
										<p class="text-success">+1.54%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$4.755</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">ZRX/USD</h5>
										<p class="text-danger">-1.33%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$0.26877</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">ETH/USD</h5>
										<p class="text-success">+0.57%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$159.73</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">LTC/USD</h5>
										<p class="text-success">+1.30%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$73.42</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">ETC/USD</h5>
										<p class="text-danger">-0.19%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$5.719</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">BCH/USD</h5>
										<p class="text-success">+0.42%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$267.72</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">XRP/USD</h5>
										<p class="text-danger">-0.50%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$0.2974</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">BTC/USD</h5>
										<p class="text-success">+3.15%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$5,497.49</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">REP/USD</h5>
										<p class="text-danger">-2.52%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$20.13</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">EOS/USD</h5>
										<p class="text-success">+1.58%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$4.757</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">ZRX/USD</h5>
										<p class="text-danger">-2.07%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$0.268135</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">ETH/USD</h5>
										<p class="text-success">+0.47%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$159.55</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">LTC/USD</h5>
										<p class="text-success">+1.28%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$73.40</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">ETC/USD</h5>
										<p class="text-danger">-0.44%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$5.715</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">BCH/USD</h5>
										<p class="text-success">+0.43%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$268.00</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">XRP/USD</h5>
										<p class="text-danger">-0.54%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$0.2970</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">BTC/USD</h5>
										<p class="text-success">+3.00%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$5,490.01</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li> 
							<li class="br-1">
								<div class="mx-20">
									<div class="d-flex justify-content-between">
										<h5 class="mr-40">XLM/USD</h5>
										<p class="text-danger">-0.97%</p>
									</div>
									<div class="d-flex justify-content-between">
										<h4 class="my-0 mr-40">$0.099065</h4>
										<span class="sparklines">8,4,0,0,1,4,4,10,10,0,0,4,6,5,9,10</span>
									</div>
								</div>
							</li>  

						  </ul>
					  </div>
				  </div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; 2020 <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar">
	  
	<div class="rpanel-title">
		<span class="pull-right btn btn-circle p-10">
			<img src="../images/svg-icon/close.svg" data-toggle="control-sidebar" class="img-fluid svg-icon" alt="">
		</span> 
	</div>  <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
      <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"><img src="../images/svg-icon/apps.svg" class="img-fluid svg-icon" alt=""></a></li>
      <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><img src="../images/svg-icon/advanced.svg" class="img-fluid svg-icon" alt=""></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey">
				<i class="ti-more"></i>
			</a>	
			<p>Users</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
		  <div class="lookup lookup-sm lookup-right d-none d-lg-block">
			<input type="text" name="s" placeholder="Search" class="w-p100">
		  </div>
          <div class="media-list media-list-hover mt-20">
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img src="../images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Tyler</strong></a>
				</p>
				<p>Praesent tristique diam...</p>
				  <span>Just now</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img src="../images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Luke</strong></a>
				</p>
				<p>Cras tempor diam ...</p>
				  <span>33 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img src="../images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img src="../images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>			
			
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img src="../images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Tyler</strong></a>
				</p>
				<p>Praesent tristique diam...</p>
				  <span>Just now</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img src="../images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Luke</strong></a>
				</p>
				<p>Cras tempor diam ...</p>
				  <span>33 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img src="../images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img src="../images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>
			  
		  </div>

      </div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey">
				<i class="ti-more"></i>
			</a>	
			<p>Todo List</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
        <ul class="todo-list mt-20">
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_1" class="filled-in">
			  <label for="basic_checkbox_1" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">Nulla vitae purus</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_2" class="filled-in">
			  <label for="basic_checkbox_2" class="mb-0 h-15"></label>
			  <span class="text-line">Phasellus interdum</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_3" class="filled-in">
			  <label for="basic_checkbox_3" class="mb-0 h-15"></label>
			  <span class="text-line">Quisque sodales</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_4" class="filled-in">
			  <label for="basic_checkbox_4" class="mb-0 h-15"></label>
			  <span class="text-line">Proin nec mi porta</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_5" class="filled-in">
			  <label for="basic_checkbox_5" class="mb-0 h-15"></label>
			  <span class="text-line">Maecenas scelerisque</span>
			  <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_6" class="filled-in">
			  <label for="basic_checkbox_6" class="mb-0 h-15"></label>
			  <span class="text-line">Vivamus nec orci</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_7" class="filled-in">
			  <label for="basic_checkbox_7" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">Nulla vitae purus</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_8" class="filled-in">
			  <label for="basic_checkbox_8" class="mb-0 h-15"></label>
			  <span class="text-line">Phasellus interdum</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_9" class="filled-in">
			  <label for="basic_checkbox_9" class="mb-0 h-15"></label>
			  <span class="text-line">Quisque sodales</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_10" class="filled-in">
			  <label for="basic_checkbox_10" class="mb-0 h-15"></label>
			  <span class="text-line">Proin nec mi porta</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
		  </ul>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<%-include('./component/script')%>
	
	
</body>
</html>
