<!DOCTYPE html>
<html lang="en">
	<%-include('./component/head')%>

	<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

		<div class="wrapper" id="app">
			<!--entete-->
			<!--entete-->
			<%-include('./component/header')%>
			<!-- entete -->
			<!-- Left side column. contains the logo and sidebar -->
			<!--menu de navigation-->
			<%-include('./component/menu')%>
			<!-- entete -->
			<!-- Content Wrapper.
     Contains page content -->
			<div class="content-wrapper">
				<!-- Modal -->
				<div class="modal center-modal fade" id="modal-center" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Organisme</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group row">
									<label class="col-form-label col-md-2">Libelle:</label>
									<div class="col-md-10">
										<input class="form-control" type="text" name="libelle"
											v-model="editedItem.libelle">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-2">Description:</label>
									<div class="col-md-10">
										<textarea class="form-control " rows="4" cols="30"
											v-model="editedItem.description"></textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer modal-footer-uniform">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Annuller</button>
								<button v-if="editedIndex>-1" type="button" class="btn btn-success float-right"
									data-dismiss="modal" @click="save">modifier</button>
								<button v-else type="button" class="btn btn-success float-right"
									data-dismiss="modal" @click="save">Enrégistrer</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal -->
				<div class="col-12">
					<div class="box">
						<div class="box-header d-flex justify-content-between">
							<h4 class="box-title">Organismes</h4>
							<button type="button" class="waves-effect waves-light btn btn-primary
								mb-5 btn btn-md"
								data-toggle="modal" data-target="#modal-center" @click="close">Nouveau</button>
						</div>
						<div class="box-body">
							<alert-component
								v-bind:alert="alert">
							</alert-component>
							<div class="table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Actions</th>
											<th>N°</th>
											<th>Organismes</th>
											<th>Code</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(organisme,index) in organismes">
											<td>
												<button type="button" class="waves-effect waves-light btn
													btn-success mb-5 btn-md" data-toggle="modal" data-target="#modal-center" 
													@click="editItem(organisme)"><i class="fa fa-edit"></i></button>
												<button type="button" class="waves-effect waves-light btn btn-danger 
													mb-5 btn-md"  data-toggle="modal" data-target="#modal-danger" 
													@click="editItem(organisme)"
													><i class="fa fa-trash"></i></button>
											</td>
											<td>{{index+1}}</td>
											<td>{{organisme.libelle}}</td>
											<td>{{organisme.code}}</td>
											<td>{{organisme.description}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!--modal de suppression-->	
	<div class="modal modal-danger" id="modal-danger">
	  <div class="modal-dialog" style="width: 450px;">
		<div class="modal-content bg-danger" style="width: 450px;">
		  <div class="modal-header" style="width: 450px;">
			<h4 class="modal-title">suppression !</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
		  </div>
		  <div class="modal-body  bg-default">
			<h4>voulez vous supprimmer {{editedItem.libelle}}</h4>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-md btn-danger" data-dismiss="modal">Non</button>
			<button type="button" class="btn btn-md btn-primary float-right" data-dismiss="modal" 
			@click="deleteOrganisme">Oui</button>
		  </div>
		</div>
		<!-- /.modal-content -->
	  </div>
	  <!-- /.modal-dialog -->
 	</div>
			<!-- /.content-wrapper -->
			<footer class="main-footer">
				<div class="pull-right d-none d-sm-inline-block">
					<ul class="nav nav-primary nav-dotted nav-dot-separated
						justify-content-center justify-content-md-end">
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Purchase Now</a>
						</li>
					</ul>
				</div>
				&copy; 2020 <a href="https://www.multipurposethemes.com/">Multipurpose
					Themes</a>. All Rights Reserved.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- Vendor JS -->
		
		<%-include('./component/script')%>
		<script>
		var app = new Vue({
			el: '#app',
			data: {
				editedItem:{
					libelle:'',
                    description: '',
				},
				defaultItem: {
					libelle:'',
                    description: '',
				},
				editedIndex:null,
				organismes:[],
				alert: null	
			},
			created(){
				if(JSON.parse(localStorage.getItem('token'))==null){
					//window.location="/"
				}
				this.initialize()
			},
			beforeMount(){
				if(JSON.parse(localStorage.getItem('token'))==null){
					//window.location="/"
				}
				this.initialize()
			},
			methods : {
				 async initialize(){
					await new ApiService().findAll('/organisme/crud/')
					.then( response => {
						this.organismes=response.data
					})
					.catch(error =>{
						console.log(error);
					})
				},
					close () {
					this.$nextTick(() => {
					this.editedItem = Object.assign({}, this.defaultItem)
					this.editedIndex = -1
					})
      				},
					editItem (item) {
						console.log("lancer");
						this.editedIndex = this.organismes.indexOf(item)
						this.editedItem = Object.assign({}, item)
					},
					save(){
						if(this.editedIndex>-1){
							this.update()
						}else{
							this.addOrganisme()
						}
						this.close()
					},
					deleteOrganisme(){
						new ApiService().delete('/organisme/crud/',this.editedItem.id)
						.then(res=>{
							console.log(res);
							this.initialize()
							this.alert = new Alert().flash(
								'success',
								true,
								'Suppression effectuée !'
							)
						}).catch(err=>{
							this.alert = new Alert().flash(
								'danger',
								true,
								"erreur de suppression !"
							)
						})
					},
					update(){
						if(new Alert().validateRequestData(this.editedItem)) {
						new ApiService().update('/organisme/crud/',this.editedItem,this.editedItem.id)
						.then(res=>{
							console.log(res);
							this.initialize()
							this.alert = new Alert().flash(
								'success',
								true,
								'modification effectuée !'
							)
						}).catch(err=>{
							this.alert = new Alert().flash(
								'danger',
								true,
								"erreur de modification !"
							)
						})}else{
							this.alert = new Alert().flash('error', true, 'Tous les champs sont obligatoires')
						}
					},
					addOrganisme(){
					if(new Alert().validateRequestData(this.editedItem)) {
						new ApiService().add('/organisme/crud/',this.editedItem)
						.then( response => {
							this.organismes=response.data
							this.alert = new Alert().flash(
								'success',
								true,
								'Organisme ajouté avec succès !'
							)
							this.initialize()
						})
						.catch(error =>{
							console.log(error);
							this.alert = new Alert().flash(
								'danger',
								true,
								"erreur d'ajout !"
							)
						})
					}else {
						this.alert = new Alert().flash('error', true, 'Tous les champs sont obligatoires')
					}
				}
			}
		})
		
	</script>
	</body>
</html>
