<!DOCTYPE html>
<html lang="en">
	<%-include('./component/head')%>

	<body class="hold-transition light-skin sidebar-mini theme-primary fixed" >

		<div class="wrapper" id="app">
			<!--entete-->
			<!--entete-->
			<%-include('./component/header')%>
			<!-- entete -->
			<!-- Left side column. contains the logo and sidebar -->
			<!-- entete -->

			<!-- Left side column. contains the logo and sidebar -->
				<!--menu de navigation-->
				<%-include('./component/menu')%>
			<div class="content-wrapper">
				<!--modal d'ajout d'un user et ses afiliation-->
				<div class="modal center-modal fade" id="modal-center" tabindex="-1">
					<div class="modal-dialog d-flex justify-content-center">
						<div class="modal-content"  style="width: 800px;">
							<div class="modal-header"  style="width: 800px;">
								<h5 class="modal-title">Utilisateur</h5>
								<button type="button" class="close btn btn-md btn-large" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body d-flex justify-content-between">
								<div class="col-md-10">
									<div class="form-group row">
										<label class="col-form-label col-md-2">Nom</label>
										<div class="col-md-10">
											<input class="form-control" type="datetime" name="datetime"
												v-model="editedItem.nom">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Prénom</label>
										<div class="col-md-10">
											<input class="form-control" type="datetime" name="datetime"
												v-model="editedItem.prenom">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">afiliation</label>
										<div class="col-md-10">
											<select id="afiliation" class="form-control" type="datetime"
												v-model="editedItem.afiliation_id">
												<option value="">Selectionnez</option>
												<option v-for="appart in apparts" :value="appart.apparts.id">
													{{ appart.apparts.nom }} / {{ appart.organisme_id.libelle }}
												</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Fonction</label>
										<div class="col-md-10">
											<input class="form-control" type="datetime" name="datetime"
												v-model="editedItem.fonction">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Téléphone</label>
										<div class="col-md-10">
											<input class="form-control" type="tel" name="datetime"
												v-model="editedItem.tel">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Adresse</label>
										<div class="col-md-10">
											<input class="form-control" type="adresse" name="datetime"
												v-model="editedItem.adresse">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Email</label>
										<div class="col-md-10">
											<input class="form-control" type="email" name="datetime"
												v-model="editedItem.email">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Nom d'utilisateur</label>
										<div class="col-md-10">
											<input class="form-control" type="email" name="datetime"
												v-model="editedItem.username">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-md-2">Mot de passe</label>
										<div class="col-md-10">
											<input class="form-control" type="password" name="datetime"
												v-model="editedItem.password">
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer modal-footer-uniform">
								<button type="button" class="btn btn-md btn-secondary"
									data-dismiss="modal">Fermer</button>
								<button type="button" data-dismiss="modal" class="btn btn-md btn-primary float-right"
									@click="add">Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
				<!--modal d'ajout d'un user et ses afiliation-->
				<!--modal d'edition des afiliations d'un user-->
				<!--modal d'edition des afiliations d'un user-->
				<div class="col-12">
					<div class="box">
						<div class="box-header d-flex justify-content-between">
							<h4 class="box-title">Utilisateurs</h4>
							<button type="button" class="waves-effect waves-light btn btn-primary
								mb-5 btn-md bg-primary " data-toggle="modal"
								data-target="#modal-center" @click="cas">Nouveau</button>
						</div>
						<div class="box-body">
							<alert-component v-bind:alert="alert">
							</alert-component>
							<div class="table-responsive">
								<table id="example2" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Action</th>
											<th>N°</th>
											<th>Nom</th>
											<th>Prenom</th>
											<th>Organisme</th>
											<th>Filiale</th>
											<th>Fonction</th>
											<th>Telephone</th>
											<th>Adresse</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(user, index) in utilisateurs" :key="index">
											<td>
												<button type="button" class="waves-effect waves-light btn
													btn-success mb-5 btn-md" @click="editItem(user)" 
													data-toggle="modal" data-target="#modal-center"><i class="fa fa-edit"></i></button>
												<button type="button" class="waves-effect waves-light btn btn-danger
													mb-5 btn-md"><i class="fa fa-trash"></i></button>
											</td>
											<td>{{ index+1 }}</td>
											<td>{{ user.utilisateur.nom }}</td>
											<td>{{ user.utilisateur.prenom }}</td>
											<td>{{ user.organisme.libelle}}</td>
											<td>{{ user.appart.nom}}</td>
											<td>{{ user.utilisateur.fonction }}</td>
											<td>{{ user.utilisateur.tel }}</td>
											<td>{{ user.utilisateur.adresse }}</td>
											<td><span class="text-primary">{{ user.utilisateur.email }}</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.content-wrapper -->
			<footer class="main-footer">
				<div class="pull-right d-none d-sm-inline-block">
					<ul class="nav nav-primary nav-dotted nav-dot-separated
						justify-content-center justify-content-md-end">
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0)">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Purchase Now</a>
						</li>
					</ul>
				</div>
				&copy; 2022 <a href="https://www.multipurposethemes.com/">ministère de la defense</a>. All Rights Reserved.
			</footer>
			<!-- Control Sidebar -->
			<!--	
			-->
			<!-- /.control-sidebar -->
			<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
		</div>
		<!-- ./wrapper -->
		<!-- Vendor JS -->
		

		<%-include('./component/script')%>
		<script>
		var app = new Vue({
			el: '#app',
			cas:true,
			data: {
				utilisateurs : null,
				editedItem:{	
					username: '',
					password: '',
					nom: '',
          			prenom: '',
					fonction: '',
					adresse: '',
					tel : '',
					email : '',
					afiliation_id: '',
				},
				defaultItem:{
					username: '',
					password: '',
					nom: '',
          			prenom: '',
					fonction: '',
					adresse: '',
					tel : '',
					email : '',
					afiliation_id: '',
				},
				apparts:[],
				afiliations:[],
				tabAp:[],
				id:"",
				alert:null
			},
			created(){ 
                if(JSON.parse(localStorage.getItem('token'))==null){
					//window.location="/"
				}
				this.initialize()
				this.initializeAfilition()
			},
			methods : {
				cas(){
					this.tabAp=[]
					this.cas=true
				},
				add(){
					let user = {
						username: this.editedItem.username,
						password: this.editedItem.password
					}
					let utilisateur = {
						prenom: this.editedItem.prenom,
						nom: this.editedItem.nom,
						fonction: this.editedItem.fonction,
						tel: this.editedItem.tel,
						email: this.editedItem.email,
						adresse: this.editedItem.adresse
					}
					let userappart={
						id_appart: this.editedItem.afiliation_id
					}
					if(new Alert().validateRequestData(this.editedItem)){
					new ApiService().add('/utilisateur/crud/', { user, utilisateur ,userappart})
					.then((res) => {
						this.tabAp=[]
						this.initialize()
						this.alert = new Alert().flash(
								'success',
								true,
								'Utilisateur ajouté avec succès !'
							)
					}).catch((err) => {
						console.log(err)
						this.alert = new Alert().flash(
								'danger',
								true,
								"erreur d'ajout !"
							)
					})
					}else{
						this.alert = new Alert().flash('error', true, 'Tous les champs sont obligatoires')
					}	
				},
				select(id){
                    if(!this.tabAp.includes(id)){
                        this.tabAp.push(id);
						return
                    }
                    const index=tabAp.findIndex(el=>el==id)
                    tabAp.splice(index, 1);
                },
				async allApart_user(id){
					cas=false
                   await  new ApiService().findOne('/userapparts/getuserappart/',id)
					.then((res) => {
                        const t=[]
						const appart_user=[]
						this.appart_user = res.data.appart
                        console.log("jjjjj",res.data);
                        this.appart_user.map(el=>{
                            t.push(el.id)
                        })
                        this.tabAp=t
					}).catch((err) => {
						console.log(err)
					})
                    this.id=id
                },
				async modifAppart(){
                    const ob={
                        appart:this.tabAp,
                        user:this.id
                    }
                   await new ApiService().add('/userapparts/adduserappart/',ob)
					.then((res) => {
						this.tabAp=[]
						console.log(res.data);
					}).catch((err) => {
						console.log(err)
					})
                   
                },
				close () {
					this.$nextTick(() => {
					this.editedItem = Object.assign({}, this.defaultItem)
					this.editedIndex = -1
					})
      				},
					editItem (item) {
						console.log("lancer");
						this.editedIndex = this.utilisateurs.indexOf(item)
						let ob={
							username: '',
							password: '',
							nom:item.utilisateur.nom ,
          			     	prenom: item.utilisateur.prenom,
							fonction: item.utilisateur.fonction,
							adresse: item.utilisateur.adresse,
							tel : item.utilisateur.email,
							email : item.utilisateur.email,
							afiliation_id: item.appart.id,
							}
						this.editedItem = Object.assign({}, item)
					},
				initialize(){
					new ApiService().findAll('/utilisateur/crud/')
					.then(response =>{
						this.utilisateurs = response.data.reverse();
					})
					.catch(error => {
					console.log(error)
					})
				},
				initializeAfilition(){
					new ApiService().findAll('/apparts/crud/')
					.then(response =>{
						this.apparts= response.data
						console.log("appart",this.apparts);
						
					})
					.catch(error => {
					console.log(error)
					})
				},
				
		
			}
		})
	</script>
	</body>
</html>
