<%-include('head')%>
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 100%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="">
                        <a href="/Dashboard">
                          <img src="../images/svg-icon/sidebar-menu/dashboard.svg" class="svg-icon" alt="">
                          <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <img src="../images/svg-icon/sidebar-menu/dashboard.svg"
                                class="svg-icon" alt="">
                            <span>Paramètres</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/organisme"><i class="ti-more"></i>Organismes </a></li>
                            <li><a href="/appart"><i class="ti-more"></i>Organisme/filiale</a></li>
                            <li><a href="/typeHabilitation"><i class="ti-more"></i>Type
                                    d'habilitation</a></li>
                            <li><a href="/habilitation"><i class="ti-more"></i>Habilitation</a></li>
                            <li><a href="/utilisateur"><i class="ti-more"></i>Utilisateurs</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</aside>